html {
	display: table;
	height: 100%;
	width: 100%;
}

body {
	background-image: url(../imgs/hexagoneTile.png);
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

#info {
	color: #FFFFFF;
	text-shadow: 5px 5px 2px #222222;
	text-align: center;
	font-size: 5em;
}

#canvas {
	display: none;
}

#mainDIV {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #AAAAAA;
	border-width: 5px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 5px;
	box-shadow: 10px 10px 5px #222222;
}

#navDIV {
	position: absolute;
	top: 0px;
	left: 0px;
}

#headerDIV {
	position: absolute;
	left: 0px;
	top: 0px;
	text-align: center;
}

#footerDIV {
	position: absolute;
	right: 0px;
	bottom: 0px;
	text-align: center;
}

.contentCanvas {
	position: absolute;
	top: 0px;
	left: 0px;
	overflow-y: auto;
}

.contentDIV {
	margin: 15px;
}

.contentDIV > div {
	margin-left: 30px;
}

.contentDIV > hr {
	 text-align: left;
	 margin-left: 0px;
	 width: 75%;
}

p.navButton {
	color: #000000;
	background-color: #FFFFFF;
	text-align: center;
	border-width: 5px;
	border-radius: 0px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-style: solid;
	border-color: #FFFFFF;
	padding: 5px;
	margin-left: 0px;
}

div.navButton {
	float: left;
	color: #FFFFFF;
	background-color: #000000;
	text-align: center;
	border-width: 2px;
	border-radius: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	padding: 2px;
	margin: 2px;
}

.backToTop{
	background-color: #FF0000;
	color: #FFFFFF;
	padding: 5px;
	border-radius: 5px;
	display: inline-block;
}

#headerDIV > div.navButton {
}

#footerDIV > div.navButton {
}

video {
	width: 65%;
	height: auto;
}

/* unvisited link */
a:link {
    color: #444444;
	text-decoration: none;
}

/* visited link */
a:visited {
    color: #444444;
	text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #666666;
	text-decoration: none;
}

/* selected link */
a:active {
    color: #FF0000;
	text-decoration: none;
}

.tooltip {
	color: #000000;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	padding-bottom: 0px;
}

.ui-tooltip {
	width: 200px;
	max-width: 800px;
	color: #000000;
	background-color: #CCCCCC;
	border-color: #000000;
	border-style: dotted;
	border-width: 1px;
	border-radius: 5px;
	padding: 10px;	
	box-shadow: 4px 4px 8px #222222;
}

.ui-tooltip-content {
	font-style: italic;
}

#portraitAbout {
	position: relative;
	float: right;
}