body {
  background-color: #606060;
}

#gridContainer {
  display: grid;
  grid-template-columns: auto 800px auto;
  grid-template-rows: 50px auto 50px;
  grid-template-areas:
    "header header header"
    "navi main side"
    "footer footer footer";
}

#header {
  grid-area: header;
  text-align: center;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  color: #ffffff;
  text-shadow: 0px 0px #000000;
  font-size: 40px;
}

#main {
  grid-area: main;
  background-color: #007070;
  border: 5px solid #ffffff;
  border-radius: 5px 25px 5px 25px;
  padding: 10px;
  box-shadow: 20px 20px 5px #000000;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  color: #ffffff;
  text-shadow: 0px 0px #000000;
}
.picSet {
  float: right;
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.picSet > img {
  width: 140px;
  border-radius: 5px;
}

#profilephoto {
  float: right;
  width: 150px;
  border-radius: 5px 25px 5px 25px;
  margin-left: 5px;
}

p {
  margin-left: 10px;
  margin-right: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  color: #ffffff;
  background-color: #ffffff;
  height: 1px;
  border: none;
}
