<div class="contentDIV">
	<b>About</b>
	<hr />
	<div>
		<img id="portraitAbout" src="imgs/portraitBernhardMaier.jpg" />
		<table id="vitatable">
			<tr>
				<td>Name:</td>
				<td>Bernhard Maier</td>
			</tr>
			<tr>
				<td>Age:</td>
				<td>27</td>
			</tr>
		</table>
	</div>
</div>