<div class="contentDIV">
	<b>Contact</b>
	<hr />
	<div>
		The best way to get in contact with me.
		<ul>
			<li>mail: <a href="mailto:mail@neopheus.de">mail@neopheus.de</a></li>
			<li>phone: 0160 / 93019540</li>
			<li>Skype: neopheus1337</li>
			<li>Xing: <a href="https://www.xing.com/profile/Bernhard_Maier62/cv" target="_blank">Bernhard Maier</a></li>		
		</ul>
	</div>
</div>