<div class="contentDIV">
	<b>Downloads</b>
	<hr />
	<div id="introDownloads">
		<p>Games:</p>
		<ul>
			<li><span class="tooltip" title="a turnbased strategy game on a randomly generated map<p style='text-align: right'>{coded in Unity}</p>">Voronoi Wars v0.2.2</span> <a href="downloads/VoronoiWars.zip">(Download)</a></li>
			<li><span class="tooltip" title="the HdM presentation of Voronoi Wars">Voronoi Wars Presentation</span> <a href="downloads/VoronoiWarsPresentation.webm">(Download)</a></li>
			<li><span class="tooltip" title="project for testing how 'endless levels' could work in railshooter games<p style='text-align: right'>{coded in Lua}</p> !not available now!">Spaceship v0.1</span> <a href="downloads/Spaceship.zip">(Download)</a></li>
			<li><span class="tooltip" title="simple to use 2D sidescroll map editor<p style='text-align: right'>{coded in Java}</p>">Jumpyverse v1.x</span> <a href="downloads/Jumpyverse.zip">(Download)</a></li>
			<li><span class="tooltip" title="the HdM presentation of Jumpyverse">Jumpyverse Presentation</span> <a href="downloads/JumpyversePresentation.webm">(Download)</a></li>
			<li><span class="tooltip" title="topdown shooter against zombies<p style='text-align: right'>{coded in XNA}</p>">ZombieGearSolid v1.0</span> <a href="downloads/ZombieGearSolid.zip">(Download)</a></li>
		</ul>
		<p>Tools:</p>
		<ul>
			<li><span class="tooltip" title="small timer tool to shutdowm your device<p style='text-align: right'>{coded in C#}</p>">ShutdownTimer v0.2</span> <a href="downloads/ShutdownTimer.zip">(Download)</a></li>
			<li><span class="tooltip" title="small tool to show the current CPU frequency<p style='text-align: right'>{coded in C#}</p>">CPUFrequency v0.1</span> <a href="downloads/CPUFrequency.zip">(Download)</a></li>
		</ul>
	</div>
</div>