<div class="contentDIV">
	<b>Portfolio</b>
	<hr>
	<div id="introPortfolio">
		<u>Current Projects:</u>
		<ul>
			<li>Further developement of Voronoi Wars</li>
			<li>Developement of this Website</li>
		</ul>
		<u>Past Projects:</u>
		<ul>
			<li><a href="#VoronoiWars">Voronoi Wars</a></li>
			<li><a href="#Spaceship">Spaceship</a></li>
			<li><a href="#Jumpyverse">Jumpyverse</a></li>
			<li><a href="#ZombieGearSolid">ZombieGearSolid</a></li>
		</ul>
		<u>Streams:</u>
		<ul>
			<li><a href="#presentationVoronoiWars">Presentation of Voronoi Wars</a></li>
			<li><a href="#presentationJumpyverse">Presentation of Jumpyverse</a></li>
		</ul>
	</div>
	<hr>
	<div id="currentProjects">
		<h2>Current Projects</h2>
		VoronoiWars
		Website
		<!--<br /><p class="backToTop">Back to top</p><br />-->
		<br/><a href="#introPortfolio">Back to top</a>
	</div>
	<div id="pastProjects">
		<h2>Past Projects</h2>
		<div id="VoronoiWars">
			Voronoi Wars
		</div>
		<div id="Spaceship">
			Spaceship
		</div>
		<div id="Jumpyverse">
			Jumpyverse
		</div>
		<div id="ZombieGearSolid">
			ZombieGearSolid
		</div>
		<br/><a href="#introPortfolio">Back to top</a>
	</div>
	<div id="streams">
		<h2>Streams</h2>
		<div>
			<p id="presentationVoronoiWars">VoronoiWars:</p>
			<video id="presentationVoronoiWarsWebm" controls poster="imgs/VoronoiWarsIcon512.png">
				<source src="downloads/VoronoiWarsPresentation.webm" type="video/webm">
				Your browser does not support the video tag.
			</video>
			<p id="presentationJumpyverse">Jumpyverse:</p>
			<video id="presentationJumpyverseWebm" controls poster="imgs/JumpyverseIcon512.png">
				<source src="downloads/JumpyversePresentation.webm" type="video/webm">
				Your browser does not support the video tag.
			</video>
		</div>
		<br/><a href="#introPortfolio">Back to top</a>
	</div>
</div>